
.treeview .list-group-item {
	cursor: pointer;
}

.list-group-item {
	white-space: nowrap;
}

.treeview span {
	width: 1rem;
	height: 1rem;
}

.treeview span.indent {
	margin-left: 10px;
	margin-right: 10px;
}

.treeview span.icon {
	margin-left: 10px;
	margin-right: 5px;
}
